@model IEnumerable<WebShop1.Models.Product>

<h2>Products</h2>

<p><a href="/Products/CreateTest">Lag test-produkt</a></p>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Navn</th>
            <th>Pris</th>
        </tr>
    </thead>
    <tbody>
@foreach (var p in Model)
{
        <tr>
            <td>@p.Id</td>
            <td>@p.Name</td>
            <td>@p.Price</td>
        </tr>
}
    </tbody>
</table>
