@{
    ViewData["Title"] = "Home";
}

<div class="text-center mt-4">
    <h1 class="display-4">Velkommen til WebShop1!</h1>
    <p class="lead">Din nye nettbutikk for klær, utstyr, møbler, bøker og mat.</p>

    <a class="btn btn-primary btn-lg mt-3" asp-controller="Products" asp-action="Index">
        Se produkter
    </a>
</div>
